<ul class="menu-main navbar-nav align-items-center me-auto">
  {% for link in linklists[section.settings.menu].links %}
    {% assign child_list_handle = link.title | handleize %}

    <!--
      =============================================
      =            ADD MEGAMENU CODE HERE            =
      ==============================================
    -->

    {%- liquid
      assign menuType = 'normal'
      assign megaMenuBlock = null
      for block in section.blocks
        if block.type == 'random_columns' and block.settings.title == link.title
          assign menuType = 'random_columns'
          assign megaMenuBlock = block.settings
          break
        endif
      endfor
    -%}
    {% if menuType == 'random_columns' %}
      <li class="nav-item dropdown {% if menuType == 'random_columns' %}megamenu{% endif %} {% if link.active %}active{% endif %}">
        <a
          data-href="{{ link.url }}"
          {% if menuType == 'random_columns' %}
            is="drop-down"
          {%- endif -%}
          class="nav-link {{ link.handle }}"
          tabindex="0"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="menu"
          name="{{ link.title }}"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          {{ link.title }}
        </a>
        <ul class="dropdown-menu border-0 rounded-0 my-0">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <ul class="list-unstyled d-flex submenu-grid align-items-start me-xl-n7">
                  {%- for childlink in menus[child_list_handle].links -%}
                    {%- assign third_list_handle = childlink.title | handleize -%}
                    <li class="{% cycle 'grids', 'grids', 'grids-half' %}">
                      <h6 class="mb-n2 font-size-md fw-semibold">{{ childlink.title }}</h6>
                      <ul class="list-unstyled mt-3">
                        {%- for thirdlink in menus[third_list_handle].links -%}
                          <li class="nav-item py-1">
                            <a
                              href="{{ thirdlink.url }}"
                              class="nav-link px-0"
                              name="{{ thirdlink.title }}"
                              title="{{ thirdlink.title }}"
                              aria-label="{{ thirdlink.title }}"
                            >
                              {{- thirdlink.title -}}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              {% if megaMenuBlock != null %}
                <div class="col-md-5">
                  <div class="text-center d-flex flex-column ms-lg-3 position-relative mb-2 mt-1">
                    {% if megaMenuBlock.image %}
                      <div class="megamenu-img position-relative img-overlay">
                        <img
                          src="{{ megaMenuBlock.image | image_url: 'pico' }}"
                          srcset="
                            {%- if megaMenuBlock.image.width >= 360 -%}{{ megaMenuBlock.image | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if megaMenuBlock.image.width >= 520 -%}{{ megaMenuBlock.image | image_url: width: 520 }} 520w,{%- endif -%}
                          "
                          loading="lazy"
                          sizes="(min-width: 992px) 492px, 50px"
                          alt="Megamenu for {{ link.title }}"
                          height="492"
                          width="492"
                        >
                      </div>
                    {% endif %}
                    {% if megaMenuBlock.link_text != '' %}
                      <a href="{{ megaMenuBlock.link_url }}" class="position-absolute start-0 bottom-0 mb-2 ms-2 text-white fw-medium btn btn-link align-self-start">
                        <span class="add-text">{{- megaMenuBlock.link_text -}}</span>
                      </a>
                    {% endif %}
                  </div>
                  <div class="text-center d-flex flex-column ms-lg-3 position-relative">
                    {% if megaMenuBlock.image_2 %}
                      <div class="megamenu-img position-relative img-overlay">
                        <img
                          src="{{ megaMenuBlock.image_2 | image_url: 'pico' }}"
                          srcset="
                            {%- if megaMenuBlock.image_2.width >= 360 -%}{{ megaMenuBlock.image_2 | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if megaMenuBlock.image_2.width >= 520 -%}{{ megaMenuBlock.image_2 | image_url: width: 520 }} 520w,{%- endif -%}
                          "
                          loading="lazy"
                          sizes="(min-width: 992px) 492px, 50px"
                          alt="Megamenu for {{ link.title }}"
                          height="492"
                          width="492"
                        >
                      </div>
                    {% endif %}
                    {% if megaMenuBlock.link_text_2 != '' %}
                      <a href="{{ megaMenuBlock.link_url_2 }}" class="position-absolute start-0 bottom-0 mb-2 ms-2 text-white fw-medium btn btn-link align-self-start">
                        <span class="add-text">{{- megaMenuBlock.link_text_2 -}}</span>
                      </a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </ul>
      </li>

      <!-- ============  MEGAMENU END  ============= -->

      <!-- --------  Simple Nav Dropdown  -------- -->

    {% elsif menus[child_list_handle].links != blank %}
      <li class="nav-item dropdown {% if link.active %}active{% endif %}">
        <a
          data-href="{{ link.url }}"
          {%- if menus[child_list_handle].links.size > 0 -%}
            is="drop-down"
          {%- endif -%}
          class="nav-link d-flex align-items-center justify-content-between text-uppercase {{ link.handle }}"
          tabindex="0"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="menu"
          name="{{ link.title }}"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          <span>{{ link.title }}</span> <span class="icon-arrow-down ms-1 font-size-xs"></span>
        </a>
        <ul class="dropdown-menu" data-type="content">
          {% for childlink in menus[child_list_handle].links %}
            {% assign subchild_list_handle = childlink.title | handleize %}
            {% if menus[subchild_list_handle].links != blank %}
              <li class="nav-item dropdown {% if childlink.active %} active{% endif %}">
                <a
                  data-href="{{ childlink.url }}"
                  {%- if menus[subchild_list_handle].links.size > 0 -%}
                    is="drop-down"
                  {%- endif -%}
                  class="nav-link d-flex align-items-center justify-content-between {{ childlink.handle }}"
                  tabindex="0"
                  role="button"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  aria-haspopup="menu"
                  name="{{ childlink.title }}"
                  title="{{ childlink.title }}"
                  aria-label="{{ childlink.title }}"
                >
                  <span>{{ childlink.title }}</span> <span class="icon-arrow-down ms-1 font-size-xs"></span>
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a
                  class="nav-link d-flex align-items-center justify-content-between{% if childlink.active %} active{% endif %} {{ childlink.handle }}"
                  is="simple-menu-item"
                  href="{{ childlink.url }}"
                  title="{{ childlink.title }}"
                  aria-label="{{ childlink.title }}"
                >
                  {{ childlink.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="nav-item {% if link.active %} active{% endif %}">
        <a
          class="nav-link text-uppercase {{ link.handle }} {% if link.handle == 'enterprise' %} btn btn-primary {% endif %}"
          href="{{ link.url }}"
          is="simple-menu-item"
          title="{{ link.title }}"
          aria-label="{{ link.title }}"
        >
          {{ link.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<ul class="navbar-nav navbar-icon-links align-items-center ms-auto">
  {%- if settings.enable_search -%}
    <li class="nav-item">
      <a
        href="{{ routes.search_url }}"
        class="nav-link modal__toggle open-searchform"
        aria-haspopup="dialog"
        aria-label="{{ 'general.search.title' | t }}"
      >
        <span class="icon-search"></span>
      </a>
    </li>
  {%- endif -%}
  {% if shop.customer_accounts_enabled %}
    <li class="nav-item">
      <a
        class="nav-link"
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        title="account"
        rel="nofollow"
        aria-label="Account"
      >
        <span class="icon-user"></span>
      </a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a
      href="{{ routes.cart_url }}"
      class="nav-link header__icon--cart position-relative"
      id="cart-icon-desktop"
      rel="nofollow"
      title="cart"
      rel="nofollow"
      aria-label="Cart"
    >
      <span class="icon-cart align-middle"></span>
      <span class="visually-hidden">{{ 'templates.cart.title' | t }}</span>
      {%- if cart != empty -%}
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true" class="cart-count">{{ cart.item_count }}</span>
        {%- endif -%}
      {%- endif -%}
    </a>
  </li>
</ul>
