{{ 'global-footer.css' | asset_url | stylesheet_tag }}
{% assign logo_svg = section.settings.footer_logo_svg %}
{% assign logo_svg_second = section.settings.footer_second_logo_svg %}
{% assign footer_linklist_2 = section.settings.footer_linklist_col_2 %}
{% assign footer_linklist_3 = section.settings.footer_linklist_col_3 %}
{% assign footer_linklist_4 = section.settings.footer_linklist_col_4 %}
{% assign footer_linklist_5 = section.settings.footer_linklist_col_5 %}
<footer class="site-footer" data-section-id="{{ section.id }}">
  {%- comment -%} Newsletter Section {%- endcomment -%}
  <div
    class="footer-newsletter overflow-hidden"
    style="background-color: {{ section.settings.footer_newsletter_bg_color }}; color: {{ section.settings.footer_newsletter_txt_color }};"
  >
    <div class="mt-n1 mt-lg-0 position-relative {% if section.settings.fluid_footer %}container-fluid{% else %}container{% endif %}">
      <div class="pt-10 pb-0 pb-lg-11 position-relative news-inner">
        <div class="row align-items-center pb-13 pb-lg-1">
          <div class="newsletter-text col-12 text-md-start text-center">
            {% if section.settings.newsletter_heading != blank %}
              <div class="h5 mb-2 pb-2 pb-lg-1">{{ section.settings.newsletter_heading }}</div>
            {% endif %}
            {% if section.settings.newsletter_txt != blank %}
              <p class="pb-1 pb-lg-0 mb-4">{{ section.settings.newsletter_txt }}</p>
            {% endif %}
          </div>
          {% if section.settings.show_newsletter %}
            {% form 'customer', id: 'NewsletterFooter', class: 'col-12' %}
              <div class="input-group news-form overflow-hidden w-100">
                <input
                  type="email"
                  name="contact[email]"
                  aria-label="email"
                  id="newsletterFooterCustomerEmail"
                  class="form-control bg-white"
                  placeholder="{{ 'general.social.newsletter_form.newsletter_email' | t }}"
                  value="{% if customer %}{{ customer.email }}{% endif %}"
                  autocorrect="off"
                  autocapitalize="off"
                  required
                >
                <input type="hidden" name="contact[tags]" value="newsletter">
                <button
                  type="submit"
                  name="btnSubmit"
                  aria-label="submit"
                  class="newsletter-submit btn btn-primary"
                >
                  Submit
                </button>
              </div>
              {% if form.errors %}
                <p class="text-danger mt-2 mb-0">{{ form.errors | default_errors }}</p>
              {% endif %}
            {% endform %}
          {% endif %}
        </div>
      </div>
      {%- if section.settings.footer_bg_banner != blank -%}
        <div class="bottom-0 footer-bg-banner position-absolute">
          <img
            srcset="
              {%- if section.settings.footer_bg_banner.width >= 350 -%}{{ section.settings.footer_bg_banner | image_url: width: 350 }} 350w,{%- endif -%}
              {%- if section.settings.footer_bg_banner.width >= 400 -%}{{ section.settings.footer_bg_banner | image_url: width: 400 }} 400w,{%- endif -%}
              {%- if section.settings.footer_bg_banner.width >= 500 -%}{{ section.settings.footer_bg_banner | image_url: width: 500 }} 500w,{%- endif -%}
              {%- if section.settings.footer_bg_banner.width >= 550 -%}{{ section.settings.footer_bg_banner | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if section.settings.footer_bg_banner.width >= 650 -%}{{ section.settings.footer_bg_banner | image_url: width: 650 }} 650w,{%- endif -%}
              {%- if section.settings.footer_bg_banner.width >= 750 -%}{{ section.settings.footer_bg_banner | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.footer_bg_banner.width >= 850 -%}{{ section.settings.footer_bg_banner | image_url: width: 850 }} 850w,{%- endif -%}
              {%- if section.settings.footer_bg_banner.width >= 900 -%}{{ section.settings.footer_bg_banner | image_url: width: 900 }} 900w{%- endif -%}
            "
            src="{{ section.settings.footer_bg_banner | image_url: width: 50 }}"
            sizes="(min-width: {{ settings.container_width }}) 938px, (min-width: 992px) 65.13vw, 100vw"
            alt="{{ section.settings.newsletter_heading | escape }}"
            loading="lazy"
            width="{{ section.settings.footer_bg_banner.width }}"
            height="{{ section.settings.footer_bg_banner.height }}"
          >
        </div>
      {%- endif -%}
    </div>
  </div>
  {%- comment -%} Top Footer {%- endcomment -%}
  <div
    data-footer-top
    class="footer-top"
    style="background-color: {{ section.settings.footer_top_bg_color }}; color: {{ section.settings.footer_top_txt_color }};"
  >
    <div class="container">
      <div class="row pt-9 pt-lg-11 pb-2 f-grids">
        <div class="col-lg-4 pb-8 pb-lg-7">
          <div class="d-flex flex-row logo-spilt mb-n1 mb-lg-0 flex-lg-column">
          <a
            href="{{ routes.root_url }}"
            name="{{ shop.name | escape }}"
            title="{{ shop.name | escape }}"
            aria-label="{{ shop.name | escape }}"
            class="d-inline-flex mb-4 pb-1"
          >
            {%- if logo_svg != blank -%}
              <img
                src="{{ logo_svg }}"
                alt="{{ shop.name | escape }}"
                class="d-inline-block"
                loading="lazy"
                height="119"
                style="max-width: {{ section.settings.logo_max_width }}px"
                width="{{ section.settings.logo_max_width }}"
              >
            {%- elsif section.settings.footer_logo != blank -%}
              <img
                srcset="{{ section.settings.footer_logo | image_url: width: 500 }}"
                src="{{ section.settings.footer_logo | image_url: 'pico' }}"
                loading="lazy"
                class="img-fluid mb-4 lazyload"
                width="{{ section.settings.footer_logo.width }}"
                height="{{ section.settings.footer_logo.height }}"
                alt="{{ section.settings.footer_logo.alt | default: shop.name | escape }}"
                style="max-width: {{ section.settings.logo_max_width }}px"
              >
            {%- else -%}
              <span class="h5 text-primary">{{ shop.name }}</span>
            {%- endif -%}
          </a>
          {% if section.settings.col_1_text != '' %}
            <p class="font-size-md ls-xs mb-0 pb-3 f-disc">{{ section.settings.col_1_text }}</p>
          {% endif %}
        </div>
          {% if section.settings.show_social_links %}
            <div class="col-12 d-flex">
              {% render 'social-media-links' %}
            </div>
          {% endif %}
        </div>
        <div class="col-6 col-lg-6">
          <div class="row">
        {%- comment -%} col-2 {%- endcomment -%}
        <div class="col-12 col-lg-6 mt-n1 mt-lg-0 pb-4 pb-lg-0">
          <div class="footer_dropdown">
            {% if section.settings.col_2_heading != blank %}
              <div class="d-flex justify-content-between align-items-center toggle-footer-menu">
                <div
                  class="h6 text-uppercase mb-0 pb-3 pb-lg-2 font-size-md mt-n1"
                  style="color: {{ section.settings.footer_top_txt_color }}"
                >
                  {{ section.settings.col_2_heading }}
                </div>
              </div>
            {% endif %}
            {% if linklists[footer_linklist_2].links.size > 0 %}
              <div class="dropdown-menu text-start" data-type="content">
                <ul class="list-unstyled footer-navigation">
                  {% for link in linklists[footer_linklist_2].links %}
                    <li class="{% unless forloop.index == 1 %}my-2{% endunless %}">
                      <a
                        href="{{ link.url }}"
                        style="color: {{ section.settings.footer_top_link_color }};"
                        name="{{ link.title }}"
                        title="{{ link.title }}"
                        aria-label="{{ link.title }}"
                        class="font-size-md position-relative"
                      >
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
        {%- comment -%} col-3 {%- endcomment -%}
        <div class="col-12 col-lg-6">
          <div class="footer_dropdown">
            {% if section.settings.col_3_heading != blank %}
              <div class="d-flex justify-content-between align-items-center toggle-footer-menu">
                <div
                  class="h6 text-uppercase mb-0 pb-3 pb-lg-2 font-size-md mt-n1"
                  style="color: {{ section.settings.footer_top_txt_color }}"
                >
                  {{ section.settings.col_3_heading }}
                </div>
              </div>
            {% endif %}
            {% if linklists[footer_linklist_3].links.size > 0 %}
              <div class="dropdown-menu text-start" data-type="content">
                <ul class="list-unstyled footer-navigation">
                  {% for link in linklists[footer_linklist_3].links %}
                    <li class="{% unless forloop.index == 1 %}my-2{% endunless %}">
                      <a
                        href="{{ link.url }}"
                        style="color: {{ section.settings.footer_top_link_color }};"
                        name="{{ link.title }}"
                        title="{{ link.title }}"
                        aria-label="{{ link.title }}"
                        class="font-size-md position-relative"
                      >
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      </div>
        {%- comment -%} col-4 {%- endcomment -%}
        <div class="col-6 col-lg-2">
          <div class="footer_dropdown">
            {% if section.settings.col_4_heading != blank %}
              <div class="d-flex justify-content-between align-items-center toggle-footer-menu">
                <div
                  class="h6 text-uppercase mb-0 pb-3 pb-lg-2 font-size-md mt-n1"
                  style="color: {{ section.settings.footer_top_txt_color }}"
                >
                  {{ section.settings.col_4_heading }}
                </div>
              </div>
            {% endif %}
            {% if linklists[footer_linklist_4].links.size > 0 %}
              <div class="dropdown-menu text-start" data-type="content">
                <ul class="list-unstyled footer-navigation">
                  {% for link in linklists[footer_linklist_4].links %}
                    <li class="{% unless forloop.index == 1 %}my-2{% endunless %}">
                      <a
                        href="{{ link.url }}"
                        style="color: {{ section.settings.footer_top_link_color }};"
                        name="{{ link.title }}"
                        title="{{ link.title }}"
                        aria-label="{{ link.title }}"
                        class="font-size-md position-relative"
                      >
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="btm-logo pt-3 pt-lg-0 pb-3 text-center text-lg-start">
        {%- if logo_svg_second != blank -%}
          <img
            src="{{ logo_svg_second }}"
            alt="{{ shop.name | escape }}"
            class="d-inline-block"
            loading="lazy"
            height="34"
            style="max-width: {{ section.settings.logo_second_max_width }}px"
            width="{{ section.settings.logo_second_max_width }}"
          >
        {% endif %}
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  {%- comment -%} Bottom Footer {%- endcomment -%}
  <div
    data-footer-bottom
    class="footer-bottom border-top"
    style="background-color: {{ section.settings.footer_top_bg_color }}; color: {{ section.settings.footer_top_txt_color }};"
  >
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-12 mb-0 text-center text-lg-start d-md-flex align-items-center justify-content-lg-start justify-content-center">
          <ul class="list-unstyled d-flex flex-wrap btm-links mb-0">
            <li class="me-3 me-lg-4 font-size-sm ls-sm">
              {{- 'sections.footer.copyright' | t }}
            </li>
            {% for block in section.blocks %}
              {% if block.settings.f_name != blank %}
                <li class="me-3 me-lg-4 font-size-sm ls-sm">
                  <a
                    href="{{ block.settings.f_link }}"
                    name="{{ block.settings.f_name | escape }}"
                    title="{{ block.settings.f_name | escape }}"
                    aria-label="{{ block.settings.f_name | escape }}"
                    style="color: {{ section.settings.footer_top_txt_color }};"
                    class="position-relative"
                  >
                    {{ block.settings.f_name }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "footer_top_bg_color",
      "label": "Footer Top Background Color",
      "default": "#1C1E23"
    },
    {
      "type": "color",
      "id": "footer_top_txt_color",
      "label": "Footer Top Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "footer_top_link_color",
      "label": "Footer Top Links Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Newsletter Section"
    },
    {
      "type": "color",
      "id": "footer_newsletter_bg_color",
      "label": "Footer Newsletter Background Color",
      "default": "#F2F2F2"
    },
    {
      "type": "color",
      "id": "footer_newsletter_txt_color",
      "label": "Footer Newsletter Text Color",
      "default": "#2B3033"
    },
    {
      "type": "image_picker",
      "id": "footer_bg_banner",
      "label": "Banner image"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Heading",
      "default": "STAY IN TOUCH"
    },
    {
      "type": "text",
      "id": "newsletter_txt",
      "label": "Text",
      "default": "Get monthly updates and free resources."
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show Newsletter Form?",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Newsletter Success Message"
    },
    {
      "type": "html",
      "id": "success_message",
      "label": "Success Message",
      "default": "<p>Thank you for signing up! Your special offer is on its way!</p>"
    },
    {
      "type": "header",
      "content": "Column 1"
    },
    {
      "type": "text",
      "id": "footer_logo_svg",
      "label": "Footer svg logo"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 5,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 180
    },
    {
      "type": "text",
      "id": "col_1_text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "footer_second_logo_svg",
      "label": "Footer Second svg logo"
    },
    {
      "type": "range",
      "id": "logo_second_max_width",
      "min": 5,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 180
    },
    {
      "type": "checkbox",
      "id": "show_social_links",
      "label": "Show Social Links?",
      "default": true
    },
    {
      "type": "text",
      "id": "col_5_social_heading",
      "label": "Heading",
      "default": "Connect with Us"
    },
    {
      "type": "paragraph",
      "content": "Select Networks"
    },
    {
      "type": "checkbox",
      "id": "social_icon_facebook",
      "label": "Facebook",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_twitter",
      "label": "Twitter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_instagram",
      "label": "Instagram",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_youtube",
      "label": "YouTube",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_linkedin",
      "label": "LinkedIn",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_tiktok",
      "label": "Ticktok",
      "default": true
    },
    {
      "type": "header",
      "content": "Column 2"
    },
    {
      "type": "text",
      "id": "col_2_heading",
      "label": "Heading",
      "default": "Footer menu"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_col_2",
      "label": "Select Menu"
    },
    {
      "type": "header",
      "content": "Column 3"
    },
    {
      "type": "text",
      "id": "col_3_heading",
      "label": "Heading",
      "default": "Footer menu"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_col_3",
      "label": "Select Menu"
    },
    {
      "type": "header",
      "content": "Column 4"
    },
    {
      "type": "text",
      "id": "col_4_heading",
      "label": "Heading",
      "default": "Footer menu"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_col_4",
      "label": "Select Menu"
    }
  ],
  "blocks": [
    {
      "type": "footerlinks",
      "name": "Add Link",
      "settings": [
        {
          "type": "text",
          "id": "f_name",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "f_link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
