{{ 'global-features-grid.css' | asset_url | stylesheet_tag }}
<section
  class="section-content pt-1 pt-md-0 features-grid-global"
  data-section-id="{{ section.id }}"
  style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}"
>
  <div class="container">
    {% assign blocks_size = section.blocks | size %}
    {% if blocks_size > 0 %}
      <div class="row mb-n9 mb-md-0">
        {% for block in section.blocks %}
          <div class="col-6 col-md-3 mb-9 mb-md-0">
            <div class="feature d-flex flex-column">
              <div class="text-center mb-4 mb-md-7 feature-img">
                {% if block.settings.icon_img != blank %}
                  <img
                    src="{{ block.settings.icon_img }}"
                    alt="{{ block.settings.title }}"
                    width="150"
                    height="150"
                    loading="lazy"
                  >
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'bg-gray-100' }}
                {% endif %}
              </div>
              <div class="text-center px-lg-4">
                {% if block.settings.title != blank %}
                  <div class="fw-medium h6 mb-0 text-capitalize">{{ block.settings.title }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Features Grid",
  "class": "index-features-grid",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#F2F2F2"
    },
    {
      "type": "color",
      "id": "section_txt_color",
      "label": "Text Color",
      "default": "#2B3033"
    }
  ],
  "presets": [
    {
      "name": "Features Grid",
      "category": "Content"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Feature Block",
      "settings": [
        {
          "type": "text",
          "id": "icon_img",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features Grid",
      "blocks": [
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
