{{ 'mobile-nav-drawer.css' | asset_url | stylesheet_tag }}
{% assign logo_svg = section.settings.logo_svg %}
{% assign logo_image = section.settings.logo %}
<mobile-nav tabindex="0" data-touch-moveable>
    <div data-section-id="{{ section.id }}" class="mobile-nav-drawer d-flex flex-column" id="mobile-menu-drawer" data-role="drawer">
        {% assign main_menu = section.settings.main_menu_linklist %}
        {% assign secondary_menu = section.settings.secondary_menu_linklist %}
        <div class="drawer-header mb-3 d-flex justify-content-end align-items-center">
            <a href="#" class="align-items-center ms-auto bg-secondary btn-close close-mobile--navbar d-flex justify-content-center" name="close" title="close" rel="nofollow" aria-label="Close">
                <i class="icon-close fw-semibold"></i>
            </a>
        </div>
        <div class="drawer-body d-flex flex-column flex-grow-1">
        {% if main_menu %}
            <nav class="navbar-mobile navbar-mobile-slide">
                <ul class="navbar-nav">
                    {% for link in linklists[main_menu].links %}
                        {% assign child_list_handle = link.title | handleize %}
                        {% if menus[child_list_handle].links != blank %}
                        <li class="nav-item dropdown {% if link.active %}active{% endif %} second-level">
                            <a class="nav-link submenu-toggle d-flex align-items-center {{ link.handle }}" is="drop-down" tabindex="0" data-href="{{ link.url }}" role="button" data-toggle="open" data-target="#submenu-{{ child_list_handle }}" aria-expanded="false" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                <span class="nav-link-title">{{ link.title }}</span> 
                                <i class="icon-arrow-right text-center"></i>
                            </a>
                            <div class="pt-1 submenu dropdown-menu toggle-content" id="submenu-{{ child_list_handle }}" data-type="content">
                                <a class="nav-link d-flex align-items-center close-submenu fw-bold text-uppercase position-fixed start-0 top-0 w-100 bg-secondary {{ link.handle }}" tabindex="0" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                    <i class="icon-arrow-left me-2"></i><span class="menu-title">{{ link.title }}</span> 
                                </a>
                                {% for childlink in menus[child_list_handle].links %}
                                    {% assign subchild_list_handle = childlink.title | handleize %}
                                    {% if menus[subchild_list_handle].links != blank %}
                                        <div class="nav-item dropdown {% if forloop.first %}open{% endif %}">
                                            <a is="drop-down" class="nav-link submenu-toggle d-flex align-items-center justify-content-between {% if childlink.active %} active{% endif %} {{ childlink.handle }}" data-href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" role="button" data-toggle="open" data-target="#submenu-{{ subchild_list_handle }}" aria-expanded="false" aria-label="{{ childlink.title }}">
                                                <span class="nav-link-title">{{ childlink.title }}</span> <i class="icon-arrow-right text-center"></i>
                                            </a>
                                            <div class="submenu dropdown-menu toggle-content third-level-menu pt-2" id="submenu-{{ subchild_list_handle }}" data-type="content">
                                                <a class="nav-link d-flex align-items-center justify-content-center close-submenu fw-bold text-uppercase text-center position-fixed start-0 top-0 w-100 bg-secondary {% if childlink.active %} active{% endif %} {{ childlink.handle }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                                    <i class="icon-arrow-left me-2"></i>{{ childlink.title }}
                                                </a>
                                                {% for subchildlink in menus[subchild_list_handle].links %}
                                                    <div class="nav-item">
                                                        <a is="simple-menu-item" class="nav-link d-flex align-items-center {% if subchildlink.active %} active{% endif %} {{ subchildlink.handle }}" href="{{ subchildlink.url }}" name="{{ subchildlink.title }}" title="{{ subchildlink.title }}" aria-label="{{ subchildlink.title }}">
                                                            {{ subchildlink.title }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="nav-item">
                                            <a is="simple-menu-item" class="nav-link d-flex align-items-center {% if childlink.active %} active{% endif %} {{ childlink.handle }}" href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                                {{ childlink.title }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="my-5">
                                {% for block in section.blocks %}
                                    <div class="mobile-nav-banner mb-2 position-relative">
                                    {% if block.settings.image != blank %}
                                    <div class="megamenu-img position-relative img-overlay">
                                        <img src="{{ block.settings.image | image_url: 'pico' }}" srcset="
                                            {%- if block.settings.image.width >= 380 -%}{{ block.settings.image | image_url: width: 380 }} 380w,{%- endif -%}
                                        " loading="lazy" sizes="100vw"
                                        class="w-100"
                                        alt="Megamenu for {{ link.title }}" height="150" width="350">
                                    </div>
                                    {% endif %}
                                    {% if block.settings.link_text != blank %}
                                    <a href="{{ block.settings.link_url }}"
                                        class="position-absolute start-0 bottom-0 mb-2 ms-2 text-white fw-medium btn btn-link align-self-start">
                                        <span class="add-text">{{- block.settings.link_text -}}</span>
                                    </a>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            </div>
                        </li>
                        {% else %}
                            <li class="nav-item {% if link.active %} active{% endif %} {% if forloop.last %}lastIndex{% endif %}">
                                <a class="nav-link d-flex align-items-center" href="{{ link.url }}" is="simple-menu-item" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                    {{ link.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <div class="mt-auto navbar-bottom bg-secondary">
        {% if secondary_menu %}
            <nav class="navbar-mobile navbar-mobile-secondary pb-3">
                <ul class="navbar-nav">
                {% for link in linklists[secondary_menu].links %}
                    {% assign child_list_handle = link.title | handleize %}
                        {% if menus[child_list_handle].links != blank %}
                            <li class="nav-item dropdown {% if link.active %}active{% endif %}">
                                <a is="drop-down" class="nav-link submenu-toggle d-flex align-items-center justify-content-between" data-href="{{ link.url }}" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}" tabindex="0" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="menu">
                                    <span>{{ link.title }}</span> <i class="icon-arrow-right"></i>
                                </a>
                                <div class="submenu dropdown-menu toggle-content" id="submenu-{{ child_list_handle }}" data-type="content">
                                    {% for childlink in menus[child_list_handle].links %}
                                        <a class="nav-link d-flex align-items-center {% if childlink.active %} active{% endif %}" is="simple-menu-item" href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                            {{ childlink.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                        <li class="nav-item {% if link.active %} active{% endif %}">
                            <a is="simple-menu-item" class="nav-link d-flex align-items-center" href="{{ link.url }}" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                {{ link.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <div class="drawer-footer text-left mt-auto">
            {% if section.settings.show_social_links %}
                {% render 'social-media-links' %}
            {% endif %}
        </div>
    </div>
        </div>

    </div>
</mobile-nav>
{% schema %}
    {
        "name": "Mobile Drawer",
        "settings": [
            {
                "type": "link_list",
                "id": "main_menu_linklist",
                "label": "Select Main Menu",
                "default": "main-menu"
            },
            {
                "type": "link_list",
                "id": "secondary_menu_linklist",
                "label": "Select Secondary Menu"
            },
            {
                "type": "checkbox",
                "id": "show_social_links",
                "label": "Show Social Links?",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "Select Networks"
            },
            {
                "type": "checkbox",
                "id": "social_icon_facebook",
                "label": "Facebook",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "social_icon_twitter",
                "label": "Twitter",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "social_icon_instagram",
                "label": "Instagram",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "social_icon_youtube",
                "label": "YouTube",
                "default": true
            },
            {
            "type": "checkbox",
            "id": "social_icon_linkedin",
            "label": "LinkedIn",
            "default": true
            },
            {
            "type": "checkbox",
            "id": "social_icon_tiktok",
            "label": "Ticktok",
            "default": true
            }
        ],
        "blocks": [
            {
                "type": "random_columns",
                "name": "Megamenu with Image",
                "settings": [
                    {
                        "type":"image_picker",
                        "id":"image",
                        "label": "Image"
                    },
                    { 
                        "type":"text",
                        "id":"link_text",
                        "label":"Link text"
                    },
                    {
                        "type":"url",
                        "id":"link_url",
                        "label":"URL"
                    }
                ]
            }
            ]
    }
{% endschema %}